<div id="wrapper">
	<section id="top">
		<header>
			<div id="logo"><a href="#top">David Janczyn<span class="accent">'s</span></a></div>
			<nav class="nav-collapse">
				<ul>
					<li><a href="#portfolio">Projects</a></li>
					<li><a href="#contact"> Contact</a> </li>
				</ul>
			</nav>
		</header>
		<h1>Web</h1>
	</section>
	<section class="quote">
		<div class="quote-inner">
			<figure><%=@quote.quote %>.</figure>
			<address class="author">-<%=@quote.author %></address>
		</div>

	</section>

	<section id="portfolio">
		<h2>Current Projects</h2>
		<div class="project">
			<img src="http://cdn2.freshdesignweb.com/wp-content/uploads/2015/01/Flipping-Card-3D-jQuery-Javascript-CSS3.jpg">
		</div>
	</section>
	<section id="contact">
	</section>
</div>