@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import "reset";


$primary-text-color: #555;

*, *:before, *:after {
	box-sizing: border-box;

}

#wrapper {
	width: 100%;
	height: 500px;
	font-family: 'Roboto', sans-serif;
}




// Header

header {
	width: 100%;
	min-height: 65px;
	background: white;
	.bold {
		font-weight: 800;
	}
	a {
		text-decoration: none;
		color: #000;
	}
	.nav-collapse {
		a {
			color: $primary-text-color;
			transition: all 0.5s ease;
		}

		a:hover {
			color: #222222;
		}
	}
	#logo {
		float: left;
		margin-left: 5%;
		margin-top: 10px;
		color: #333332;
		.main-logo {
		font-weight: 300;
		font-size: 2.0em;
		}
		.accent {
			display: none;
		}
	
		.sub-logo {
			font-size: .75em;
			margin-left: 4px;

		}
	}
}






	//first
#top {
	width: 100%;
	height: 400px;
	background: black;
	h1 {
		padding-top: 50px;
		color: #fff;
		text-align: center;
		font-size: 5.0em;
		font-weight: 600;
	}
	.btn-cta {
	height: 50px;
	width: 100px;
	margin: 0 auto;
	border: 1px solid #ffba00;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	margin-top: 125px;
	}
	a {
			text-decoration: none;
		}
}



//Quote

section#quote {
	width: 100%;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.5em;
	background: #333;
	.quote-inner {
	width: 90%;
	margin: 0 auto;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
		figure {
			margin: 0 auto;
		}
		address {
			text-align: right;
		}
	}
}

@media screen and (min-width: 520px ) {
	section.quote {
		figure {
			text-align: center;
		}
	}
}



//Portfolio 

#portfolio {
	width: 100%;
	h2 {
		color: #000;
		font-size: 2.0em;
		font-weight: 300;
		text-align: center;
		margin: 0 auto;
		margin-top: 10px;
		border-bottom: medium double #ddd;

	}
	.project {
		max-width: 90%;
		margin: 0 auto;
		img{
			
		}
		img:hover {
		}

	}

}