@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500);
@import "reset";

*, *:before, *:after {
	box-sizing: border-box;

}

#wrapper {
	width: 100%;
	height: 500px;
	font-family: 'Roboto', sans-serif;
}




// Header

header {
	width: 100%;
	min-height: 65px;
	background: white;
	a {
		text-decoration: none;
		color: #555555;
		transition: all 0.5s ease;
	}
	a:hover {
		color: #222222;
	}
	#logo {
		float: left;
		font-weight: 300;
		font-size: 2.0em;
		margin-top: 20px;
		margin-left: 5%;
		a:hover {
			color: #555555;
		}
		.accent {
			display: none;
		}
	}
	.nav-collapse {
		float: right;
		ul > li > a:after {
		 	background: #F4BF1E;
		    color: #F4BF1E;
		    content: "";
		    height: 2px;
		    left: 0;
		    opacity: 1;
		    position: absolute;
		    top: -2px;
		    -ms-transition: width 0.2s ease 0s;
		    -webkit-transition: width 0.2s ease 0s;
		    -moz-transition: width 0.2s ease 0s;
		    -o-transition: width 0.2s ease 0s;
		    transition: width 0.2s ease 0s; 
		    width: 0;
		}
		ul li:hover a:after {
			background-color: #F4BF1E;
		    height: 2px;
		    left: 0;
		    position: absolute;
		    top: -2px;
		    width: 100%;
		}


	}
}






//first
#top {
	width: 100%;
	height: 400px;
	background: black;
	h1 {
		padding-top: 50px;
		color: #fff;
		text-align: center;
		font-size: 5.0em;
		font-weight: 600;
	}
}


//Quote

section.quote {
	width: 100%;
	.quote-inner {
	width: 90%;
	margin: 0 auto;
	color: #555;
	padding-top: 15px;
		figure {
			margin: 0 auto;
			width: 100%;
		}
		address {
			text-align: right;
		}
	}
}



//Portfolio 

#portfolio {
	width: 100%;
	h2 {
		color: #000;
		font-size: 2.0em;
		font-weight: 300;
		text-align: center;
		margin: 0 auto;
		margin-top: 10px;
		border-bottom: medium double #ddd;

	}
	.project {
		max-width: 90%;
		margin: 0 auto;
		img{
			filter: grayscale(0.8);
		}

	}

}