<!DOCTYPE html>
<html>
<head>
  <title>Portfolio of David Alexander Janczyn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" charset="utf-8">
		$(window).load(function() {
			$('.flexslider').flexslider()
		});
	</script> 
</head>
<body>

<%= yield %>
	<script>
		var nav = responsiveNav(".nav-collapse");
		$('.fancybox').fancybox();
	</script>
</body>
</html>
